{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    {% block style %}
    <script src="{% static 'css/style.css' %}"></script>
    {% endblock %}
     {% tailwind_css %}
</head>
<body class="bg-gradient-to-r from-sky-300 to-indigo-900">
<div class="border border-b-8 border-t-0 border-x-0 border-indigo-900 p-4 bg-gradient-to-l from-sky-300 to-indigo-900 text-white">
    <h1 class="text-3xl text-center mb-8 mt-8 rounded p-4 bg-gradient-to-l from-indigo-900 to-sky-300 w-1/2 m-auto">Blog Sur Python - Django et son Authentification</h1>
        <div class="flex justify-center items-center w-full">
            <a class="text-2xl mx-5" href="{% url 'home' %}">Accueil</a>
            {% if user.is_authenticated %}
                <div>
                    <a class="w-full flex flex-row justify-center text-md mx-5 " href="{% url 'login:disconnect' %}">Se déconnecter</a>
                </div>
            {% else %}
                <div class="flex flex-row items-center">
                 <a class="text-lg mx-5" href="{% url 'login:connection' %}">Connexion</a>
                <p class="text-lg"> | </p>
                <a class="text-lg mx-5 " href="{% url 'login:register' %}">S'inscrire</a>
            </div>
            {% endif %}
            <hr>
        </div>

</div>
{% block body%}



{% endblock %}
</body>
</html>